.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 657px;
	background-color: cadetblue;
}

.counter {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 300px;
	height: 200px;
	border: 7px solid slateblue;
	border-radius: 10px;
}

.display-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 40%;
	border: 7px solid slateblue;
	border-radius: 10px;
}

.display-count {
	font-size: 70px;
	color: white;
}

.red {
	color: red !important;
}

.buttons-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	height: 30%;
	border: 7px solid slateblue;
	border-radius: 10px;
}

.btn {
	width: 100px;
	height: 40px;
	background-color: blue;
	color: white;
	font-size: 25px;
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 10px;
}

.disabled {
	opacity: 0.5;
}